.container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-items: center;
    padding: 60px;
    padding-left: 400px;
}
.form{ 
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(14, 32, 38);
    box-shadow: 0 4px 8px 0 rgba(226, 227, 226, 0.628), 0 6px 20px 0 rgba(238, 239, 233, 0.678);
}